@CHARSET "UTF-8";

#content {
	
}

body {
	display: block;
}

#wrap {
	border-bottom: 1px solid #73310A;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	box-shadow: 5px 5px 15px #000;
}

#header {
	background: #F0C040 url(images/logo_bg.png) repeat-x scroll 0 0;
	position: relative;
}

#lefter {
	background-color: #f0c040;
	border: 1px solid #883607;
	height: 598px;
	width: 158px;
}

#footer {
	text-align: right;
	/* background: #9C4210 url(../../images/nav_bg.png) repeat-x scroll 0 0; */
	background: #73310a;
	border: 1px solid #73310A;
	border-top-width: 0;
	font-size: .8em;
	/* line-height: 22px; */
	color: #fff;
	padding-right: 5px;
	font-size: 0.8em;
	/* border: 1px solid #73310a; */ /* background-color: #73310a; */
	/* height: 30px; */
	box-shadow: 5px 5px 15px #000;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000;
}

.quick_panel {
	background-color: #f0c040;
	width: 200px;
	border: 5px;
	border-color: black;
	font-size: smaller;
	padding-bottom: 20px;
}

table.form {
	margin-left: 20%;
	font-size: small;
	/*margin: 5%;  Отступы вокруг элемента */
   /* background: #fd0;  Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    border-style: dotted;
	border-color: gray;
}

table.table_list {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	font-size: small;
}

table.table_list th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: #F2CA5F;
	/*background-color: white*/;
	-moz-border-radius: ;
}

table.table_list tr:nth-child(even) {
	background: #CCC
}

table.table_list tr:nth-child(odd) {
	background: #FFF
}

table.table_list td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	-moz-border-radius: ;
}